// Google
color: #447DD8;
 font-size: 120px;
 font-family: Inter;
 font-weight: 500;
 word-wrap: break-word
---
// Search Google or type URL
color: rgba(0, 0, 0, 0.60);
 font-size: 30px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Search Google or type URL
color: rgba(0, 0, 0, 0.60);
 font-size: 30px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// Customise Chrome
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// New Tab
color: black;
 font-size: 20px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// +
color: #020202;
 font-size: 35px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word